
:root {

    --bg-light: #474747;
    --text-primary: #c5c5c5;
    --bg-primary: #000000;
    --bg-primalt: #232323;
    --bg-darkBlue: #101010;
    --theme-dark: #b12f00;
    --theme-bright: #dccb00;

}
