
:root {
    --bg-light: #474747;
    --text-primary: #c5c5c5;
    --bg-primary: #0c0c16;
    --bg-primalt: #161923;
    --bg-darkBlue: #0c0c16;
    --theme-dark: #136d03;
    --theme-bright: #32ff00;

}
