:root{
    --bg-light: #CDE8F3;
    --text-primary: #CDE8F3;
    --bg-primary: #0c0631;
    --bg-primalt: #0f123a;
    --bg-darkBlue: #00001b;
    --theme-dark: #102D75;
    --theme-bright: #CDE8F3;
}